<ion-view title="Select your payment method" cache-view="false" >
    <ion-content>
        <div class="list padding">
            <div class="item item-divider">
                Choose method of Payment
            </div>
            <div class="item item-text-wrap" style="    background: transparent;">
                        <img style="width:100px" src="">
                    </div>
                  <div class="col" style="text-align: center;">
                        <a href="#/creditcard" style="text-decoration: none">
                            <button style="color: white;border-color: white; background: #FEAE1B" class="abutton button button-block button-outline button-positive">
                                Cash
                            </button>
                            <img style="width:100px" src="cash.ico">
                        </a>
                    </div>
                </div>
          
    </ion-content>
</ion-view>
