<style type="text/css">

</style>
<ion-view scroll="false" hide-nav-bar="true" cache-view="false" >
    <ion-content has-header="false" padding="'true'" style="background: #1BE0FE;">
        <div class="padding text-center" style="padding-top: 10%;padding-bottom: 10%">
            <h1>Grab your chicken</h1>
<div ng-init="myVar = 'chicken.jpg'">
            <img ng-src="{{myVar}}"style="width:200px;height:200px;">
            </div>
<body background="food2.png"></body>
        </div>

        <div class="row">
            <div class="col col-50 text-center">
                <a href="#/login">
                    <button class="abutton button button-block button-outline button-positive " style="background: #72FE1B;">
                        Login
                    </button>
                </a>
            </div>
           
            <div class="col col-50 text-center">
                <a href="#/register">
                    <button class="abutton button button-block button-outline button-positive " style="background: #72FE1B;">
                        Register!
                    </button>
                </a>
            </div>
        </div>
         
        
    </ion-content>
</ion-view>