

     /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
 #map {
     height: 500px;
 }
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 500px;
   widith:550px;
    margin-left: 100px;
    margin-right:100px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 0;
}
     .weatherModule {
         background: #f2f2f2;
         height: 150px;
         width: 250px;
         border: 1px dashed #ccc;
         padding: 1em;
     }
     body{
         font-family:Actor,sans-serif;
         margin:0;
         padding:0;
         font-style:italic;
         background-image: url(moo.jpg);

     }
     #wrapper{
         width:700px;
         height:600px;

         margin: 0 auto;
         font-size:27px;
         color:springgreen ;
     }
     form{
         width: 50%;
         margin: 100px auto;

     }
     form div{
         margin: 3px auto;
     }
     .textInput{
         margin-top: 2px;
         height: 28px;
         border: 1px solid #5E6E66;
         font-size: 16px;
         padding: 1px;
         width: 100%;

     }
     .gender select{
         width:200px;
         padding:4px;
         color:black;
         font-size:15px;
         box-shadow:1px 1px 0.5px #771d80;
         -moz-box-shadow:1px 1px 0.5px #131f80;
         -webkit-box-shadow:1px 1px 0.5px #131f80;

     }
     h2{
         font-size:35px;
         color:lawngreen;
     }

     .location select{

         width:200px;
         padding:4px;
         color:black;
         font-size:15px;
         box-shadow:1px 1px 0.5px #771d80;
         -moz-box-shadow:1px 1px 0.5px #131f80;
         -webkit-box-shadow:1px 1px 0.5px #131f80;

     }
     .btn{
         padding: 7px;
         width: 100%;
         background-color: lawngreen;
     }
     .val_error{
         color: #FF1F1F;
     }